.tituloPagina {
  align-items: center;
  display: flex;
  justify-content: center;
  height: 15rem;
  background-position: center;
  background-size: cover;
}

.tituloPagina--patrimonio {
  background-image: url(../img/patrimonio-titulo.jpg);
}

.tituloPagina--lendas {
  background-image: url(../img/lendas-titulo.jpg);
}

.tituloPagina h1 {
  color: var(--cor-bgBbody);
  text-align: center;
  font-size: 2.5rem;
}